.mat-mdc-row {
    color: black;
  }

  .alltransaction-container {
    padding: 20px;
  }
  
  .text-red {
    color: red;
  }
  
  .text-green {
    color: green;
  }
  
  p-table {
    margin-top: 20px;
  }
  