<app-navbar></app-navbar>

<div class="alltransaction-container">
  <p-toolbar>
    <h2>All Transactions</h2>
    <div class="p-toolbar-group-start">
      <p-button icon="pi pi-plus" class="mr-2" (click)="openTransactionModal()" label="Add" />
      <p-button icon="pi pi-print" class="mr-2" label="Print" (click)="printTable()" />
      <p-button icon="pi pi-download" label="Download"  (click)="downloadExcel()" />
    </div>
    <div class="p-toolbar-group-center">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText placeholder="Search" [(ngModel)]="globalFilter" style="height: 32px; text-align: right;" />
      </span>
    </div>
  </p-toolbar>

  <p-card >

  <p-table
    [value]="transactions"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['date', 'categoryName', 'amount', 'description']"
    [responsive]="true"
    [(selection)]="selectedTransaction"
  >


    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
        <th pSortableColumn="categoryName">Category <p-sortIcon field="categoryName"></p-sortIcon></th>
        <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
        <th>Description</th>
        <th>Actions</th>
      </tr>

    </ng-template>

    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>{{ transaction.date | date:'shortDate' }}</td>
        <td>{{ transaction.categoryName }}</td>
        <td>
          ₹{{ transaction.amount }}
          <i class="pi" [ngClass]="transaction.isExpense ? 'pi-arrow-down text-red' : 'pi-arrow-up text-green'"></i>
        </td>
        <td>{{ transaction.description }}</td>
        <td>
          <p-button icon="pi pi-pencil" class="p-button-text p-button-rounded" (click)="editTransaction(transaction)"></p-button>
          <p-button icon="pi pi-trash" class="p-button-text p-button-rounded p-button-danger" (click)="deleteTransaction(transaction.id)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
</div>
