<app-navbar></app-navbar>

<div class="dashboard-container">

  <div class="p-grid summary-container">
    <div class="p-col-12 p-md-4 p-lg-3">
      <p-card class="summary-item income">
        <ng-template pTemplate="header">
          <i class="pi pi-wallet"></i>
        </ng-template>
        <ng-template pTemplate="content">
          <p>Total Income</p>
          <h3>₹{{ totalIncome }}</h3>
        </ng-template>
      </p-card>
    </div>
  
    <div class="p-col-12 p-md-4 p-lg-3">
      <p-card class="summary-item expense">
        <ng-template pTemplate="header">
          <i class="pi pi-shopping-cart"></i>
        </ng-template>
        <ng-template pTemplate="content">
          <p>Total Expenses</p>
          <h3>₹{{ totalExpense }}</h3>
        </ng-template>
      </p-card>
    </div>
  
    <div class="p-col-12 p-md-4 p-lg-3">
      <p-card class="summary-item balance">
        <ng-template pTemplate="header">
          <i class="pi pi-dollar"></i>
        </ng-template>
        <ng-template pTemplate="content">
          <p>Balance</p>
          <h3>₹{{ balance }}</h3>
        </ng-template>
      </p-card>
    </div>
  </div>
  
  <mat-card class="transactions-card">
    <div class="header-container">
      <p-toolbar >
        <h2>Recent Transactions</h2>
        <div class="p-toolbar-group-start">
        </div>
        <div class="p-toolbar-group-center">
            <span class="p-input-icon-left">
                <i class="pi pi-search" ></i>
                <input pInputText placeholder="Search" style="height: 32px;text-align: right;" />
            </span>
        </div>
        <p-button (click)="toggleView()">
          {{ showTable ? 'View Charts 📊' : 'View Table 📑' }}
        </p-button>
    </p-toolbar>
    </div>
    
    <ng-template #chartView>
      <app-dashboard-charts [transactions]="transactions"></app-dashboard-charts>
    </ng-template>
    
    <p-table [value]="transactions" [paginator]="false" class="p-datatable-striped"  *ngIf="showTable; else chartView">
      <ng-template pTemplate="header">
        <tr>
          <th>Date</th>
          <th>Category</th>
          <th>Amount</th>
          <th>Description</th>
        </tr>
      </ng-template>
    
      <ng-template pTemplate="body" let-transaction>
        <tr>
          <td>{{ transaction.date | date: 'shortDate' }}</td>
          <td>{{ transaction.categoryName }}</td>
          <td>
            ₹{{ transaction.amount }}
            <i class="pi" [ngClass]="transaction.isExpense ? 'pi-arrow-down text-red' : 'pi-arrow-up text-green'"></i>
          </td>
          <td>{{ transaction.description }}</td>
        </tr>
      </ng-template>
    </p-table>
  </mat-card>
</div>
