.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.profile-card {
  width: 10%;
  padding: 20px;
  top: -64px;
}
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.transactions-card {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.mat-table {
  width: 100%;
  margin-top: 10px;
}
mat-icon {
  margin-left: 10px;
}

tr {
  transition: background-color 0.3s;
}

tr:hover {
  background-color: #f1f1f1;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h2 {
  margin: 0;
}

.header-container button {
  margin-left: 10px;
}
.mat-mdc-row {
  color: black;
}
.p-sidebar{
  color: black;
  background-color: #979797 !important;
}
::ng-deep p-toolbar {
  width: 100% !important;
}

::ng-deep p-toolbar .p-toolbar {
  border: 0px !important;
  background-color: white !important;
}
.summary-container {
  display: flex;
  gap: 20px;
  justify-content: center;

}

.summary-item {
  width: 220px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

}

.summary-item i {
  font-size: 2rem;
  display: block;
  margin-bottom: 10px;
}


.income i {
  color: #28a745;
}

.expense i {
  color: #dc3545;
}

.balance i {
  color: #ffc107;
}

::ng-deep p-card .p-card{
  width: 200px !important;
} 

.text-red {
  color: #dc3545;
}

.text-green {
  color: #28a745;
}
